@model PIZZA.ViewModels.AccauntModel

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="profile-nav col-md-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
            <div class="panel">
                <div class="user-heading round">
                    <a href="#">
                        <img src="https://image.freepik.com/free-vector/pizza-icon-fast-food-collection-food-icon-isolated_138676-504.jpg" alt="">
                    </a>
                    <h1>Camila Smith</h1>
                    <p>deydey@theEmail.com</p>
                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#"> <i class="fa fa-user"></i> Профіль</a></li>
                    @if (Model.User.IsAdmin())
                    {
                    <li><a asp-action="EditPizza" asp-controller="User"> <i class="fa fa-edit"></i> Редагувати страву</a></li>
                    <li><a asp-action="DeletePizza" asp-controller="User"> <i class="fa fa-edit"></i> Видалити страву</a></li>
                    <li><a asp-action="AddPizza" asp-controller="User"> <i class="fa fa-edit"></i> Добавити страву</a></li>
                    }
                </ul>
            </div>
        </div>

        <div class="profile-info col-md-9">
            <div class="panel">

                <div class="panel-body bio-graph-info">
                    <h1>Bio Graph</h1>
                    <div class="row">
                        <div class="bio-row">
                            <p><span>Login </span>: @Model.User.Email</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Номер телефону </span>: @Model.User.PhoneNumber</p>
                        </div>
                    </div>
                </div>
                @if (Model.Cast != null)
                {
                @foreach (Pizza pizza in Model.Cast.Pizza)
                {
                    <form asp-action="RemovePizzaFromCast" asp-controller="Home" asp-antiforgery="true" method="post" enctype="multipart/form-data">
                        <div class="bio-graph-heading">
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(pizza.Img))" class="BasketImgTovar" />
                            <b class="textBasket">@pizza.Name </b>
                            <b class="textBasket">@pizza.Price</b>
                            <input type="text" asp-for="Id" value="@pizza.Id" hidden />
                            <button type="submit" class="close">
                                <img src="~/image/cancel.png" class="cencel" />
                            </button>
                        </div>
                    </form>
                }}
                @foreach (Drink drink in Model.Cast.Drink)
                {
                    <form asp-action="RemoveDrinkFromCast" asp-controller="Home" asp-antiforgery="true" method="post" enctype="multipart/form-data">
                        <div class="bio-graph-heading">
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(drink.Img))" class="BasketImgTovar" />
                            <b class="textBasket">@drink.Name </b>
                            <b class="textBasket">@drink.Price</b>
                            <input type="text" asp-for="Id" value="@drink.Id" hidden />
                            <button type="submit" class="close">
                                <img src="~/image/cancel.png" class="cencel" />
                            </button>
                        </div>
                    </form>
                }
                @foreach (Sushi sushi in Model.Cast.Sushi)
                {
                    <form asp-action="RemoveSushiFromCast" asp-controller="Home" asp-antiforgery="true" method="post" enctype="multipart/form-data">
                        <div class="bio-graph-heading">
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(sushi.Img))" class="BasketImgTovar" />
                            <b class="textBasket">@sushi.Name </b>
                            <b class="textBasket">@sushi.Price</b>
                            <input type="text" asp-for="Id" value="@sushi.Id" hidden />
                            <button type="submit" class="close">
                                <img src="~/image/cancel.png" class="cencel" />
                            </button>
                        </div>
                    </form>
                }

                <button type="button" class="btn btn-outline-success buy">Купити</button>
            </div>

        </div>
    </div>
</div>
