@model List<Pizza>

@{ ViewData["Title"] = "Home Page"; }

@*asp-controller="Home" asp-action="Index"*@


@*@{ var userName = User.Identity. }*@


<div id="preloader" class="visible"></div>

<div class="fotorama" data-width="1500" data-loop="true" data-transition="crossfade" data-autoplay="5000">
    <img src="~/image/slide1.jpg">
    <img src="~/image/slide2.png">
    <img src="/image/slide3.jpg">
</div>
<h4>Піцци: Класичні</h4>

<div class="row clasic">

    @foreach (Pizza pizza in Model)
    {
        @if (pizza.Category != "klasic")
        {
            continue;
        }
        <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
            <div class="PizzaBlok">
                <div class="imgPizza" style=" background: url('data:image/jpeg;base64,@(Convert.ToBase64String(pizza.Img))');">
                    <div class="blokPizza">
                        <b> Склад: </b><br />
                        <p>@pizza.Description</p>
                    </div>
                </div>
                <b>@pizza.Name</b>
                <p class="price">@pizza.Price.ToString()</p>
                <button class="button-1" onclick="AddPizzaToCast(@pizza.Id);">В корзину</button>
            </div>
        </div>
    }

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 LoadMore">
        <button type="button" class="btn btn-outline-secondary" id="look">Дивитись більше</button>
    </div>

</div>



<h4>Піцци: Фірмові</h4>
<div class="row firm">
    @foreach (Pizza pizza in Model)
    {
        @if (pizza.Category != "branded")
        {
            continue;
        }
        <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
            <div class="PizzaBlok">
                <div class="imgPizza" style=" background: url('data:image/jpeg;base64,@(Convert.ToBase64String(pizza.Img))');">
                    <div class="blokPizza">
                        <b> Склад: </b><br />
                        <p>@pizza.Description</p>
                    </div>
                </div>
                <b>@pizza.Name</b>
                <p class="price">@pizza.Price.ToString()</p>
                <button class="button-1">В корзину</button>
            </div>
        </div>
    }


    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 LoadMore">
        <button type="button" class="btn btn-outline-secondary " id="look2">Дивитись більше</button>
    </div>

</div>

<h4>Піцци: з морепродуктами</h4>
<div class="row  seeFood">
    @foreach (Pizza pizza in Model)
    {
        @if (pizza.Category != "withSeafood")
        {
            continue;
        }
        <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
            <div class="PizzaBlok">
                <div class="imgPizza" style=" background: url('data:image/jpeg;base64,@(Convert.ToBase64String(pizza.Img))');">
                    <div class="blokPizza">
                        <b> Склад: </b><br />
                        <p>@pizza.Description</p>
                    </div>
                </div>
                <b>@pizza.Name</b>
                <p class="price">@pizza.Price.ToString()</p>
                <button class="button-1">В корзину</button>
            </div>
        </div>
    }

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 LoadMore">
        <button type="button" class="btn btn-outline-secondary " id="look3">Дивитись більше</button>
    </div>

</div>



<h4>Піцци: Вегетеріанські</h4>
<div class="row vegan">
    @foreach (Pizza pizza in Model)
    {
        @if (pizza.Category != "vegan")
        {
            continue;
        }

        <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
            <div class="PizzaBlok">
                <div class="imgPizza" style=" background: url('data:image/jpeg;base64,@(Convert.ToBase64String(pizza.Img))');">
                    <div class="blokPizza">
                        <b> Склад: </b><br />
                        <p>@pizza.Description</p>
                    </div>
                </div>
                <b>@pizza.Name</b>
                <p class="price">@pizza.Price.ToString()</p>
                <button class="button-1">В корзину</button>
            </div>
        </div>
    }

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 LoadMore">
        <button type="button" class="btn btn-outline-secondary " id="look4">Дивитись більше</button>
    </div>

</div>








