@model List<Drink>

@{ ViewData["Title"] = "Potables Page"; }

<div class="fotorama" data-loop="true" data-transition="crossfade" data-autoplay="5000">
    <img src="~/image/slide1.jpg">
    <img src="~/image/slide2.jpg">
    <img src="/image/slide3.jpg">

</div>

<h4>Без алкогольні напої</h4>


<div class="row clasic">
    @foreach (Drink drink in Model)
    {
        @if (drink.Category != "not alco")
        {
            continue;
        }
        <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
            <div class="PizzaBlok">

            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(drink.Img))" class="imgPizza">
            <b>@drink.Name</b>
            <p class="price">@drink.Price грн</p>
            <button class="button-1" onclick="AddDrinkToCast(@drink.Id);">В корзину</button>
        </div>
    </div>
    }

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 LoadMore">
        <button type="button" class="btn btn-outline-secondary " id="look">Дивитись більше</button>
    </div>

</div>


<h4>Алкогольні напої</h4>

<div class="row firm">

    @foreach (Drink drink in Model)
    {
        @if (drink.Category != "alco")
        {
            continue;
        }
        <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
            <div class="PizzaBlok">

                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(drink.Img))" class="imgPizza">
                <b>@drink.Name</b>
                <p class="price">@drink.Price грн</p>
                <button class="button-1">В корзину</button>
            </div>
        </div>
    }

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 LoadMore">
        <button type="button" class="btn btn-outline-secondary " id="look2">Дивитись більше</button>
    </div>

</div>