@model List<Sushi>

@{ ViewData["Title"] = "Sushi Page"; }

<div class="fotorama" data-loop="true" data-transition="crossfade" data-autoplay="5000">
    <img src="~/image/slide1.jpg">
    <img src="~/image/slide2.jpg">
    <img src="/image/slide3.jpg">
    <img src="~/image/slide4.jpg">
    <img src="/image/slide5.jpg">
</div>

<h4>Суші: роли</h4>

<div class="row">
    @foreach (Sushi sushi in Model)
    {
        @if (sushi.Category != "rol")
        {
            continue;
        }
        <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
            <div class="PizzaBlok">
                <div class="imgPizza" style=" background: url('data:image/jpeg;base64,@(Convert.ToBase64String(sushi.Img))')">
                    <div class="blokPizza">
                        <b> Склад: </b><br />
                        @sushi.Description
                    </div>
                </div>
                <b>@sushi.Name</b>
                <p class="price">@sushi.Price грн</p>
                <button class="button-1" onclick="AddSushiToCast(@sushi.Id);">В корзину</button>
            </div>
        </div>
    }


    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <div class="imgPizza" style=" background: url('https://img.iamcook.ru/2018/upl/recipes/middle/u-4663b0652eb2fd2945ba548d23221652.jpg')">
                <div class="blokPizza">
                    <b> Склад: </b><br />
                    Рис, водорості норі, сир, мідії, огірок, кунжут
                </div>
            </div>
            <b>Каліфорнія мідії</b>
            <p class="price">79грн</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <div class="imgPizza" style=" background: url('https://sushi-time.mk.ua/wp-content/uploads/2020/05/photo_2020-05-28-14.10.21-2-405x330.jpeg')">
                <div class="blokPizza">
                    <b> Склад: </b><br />
                    Рис, водорості норі, сир, вугор. Поливається соусом унагі.
                </div>
            </div>
            <b>Філадельфія вугор </b>
            <p class="price">255грн</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <div class="imgPizza" style=" background: url('https://www.tereveni.com.ua/wp-content/uploads/2020/02/maki_krevetka-3-330x220.jpg')">
                <div class="blokPizza">
                    <b> Склад: </b><br />
                    Рис, водорості норі, огірок свіжий, креветка смажена на маслі, соуси цезар та теріякі.
                </div>
            </div>
            <b>Макі креветка</b>
            <p class="price">68грн</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <div class="imgPizza" style=" background: url('https://www.tereveni.com.ua/wp-content/uploads/2020/02/maki_ikra-5-1-330x220.jpg')">
                <div class="blokPizza">
                    <b> Склад: </b><br />
                    Рис, водорості норі, огірок свіжий,  ікра,  сир,  омлет.
                </div>
            </div>
            <b>Макі ікра</b>
            <p class="price">49грн</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <div class="imgPizza" style=" background: url('https://www.tereveni.com.ua/wp-content/uploads/2020/02/xkalifornia_krevetka-3-330x220.jpg.pagespeed.ic.Ub3VCrH43j.jpg')">
                <div class="blokPizza">
                    <b> Склад: </b><br />
                    Рис,  водорості норі, сир,  огірок свіжий,  креветка смажена на маслі,  ікра.
                </div>
            </div>
            <b>Каліфорнія креветка</b>
            <p class="price">139грн</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <div class="imgPizza" style=" background: url('https://www.tereveni.com.ua/wp-content/uploads/2020/02/kalifornia_kurcha_ananas-3-330x220.jpg')">
                <div class="blokPizza">
                    <b> Склад: </b><br />
                    Рис,  водорості норі, сир,  ананас, курча теріякі.
                </div>
            </div>
            <b>Tеріякі з ананасом</b>
            <p class="price">95грн</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

<div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
    <div class="PizzaBlok">
        <div class="imgPizza" style=" background: url('https://www.tereveni.com.ua/wp-content/uploads/2019/05/xmaki_pecheny_losos2-330x220.jpg.pagespeed.ic.8pjcT3juOn.jpg')">
            <div class="blokPizza">
                <b> Склад: </b><br />
                Рис, огірок свіжий, водорості норі, лосось печений, кунжут.
            </div>
        </div>
        <b>Макі лосось печений</b>
        <p class="price">73грн</p>
        <button class="button-1">В корзину</button>
    </div>
</div>
</div>


<h4>Суші: сети</h4>

<div class="row firm">

    @foreach (Sushi sushi in Model)
    {
        @if (sushi.Category != "set")
        {
            continue;
        }
        <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
            <div class="PizzaBlok">
                <div class="imgPizza" style=" background: url('data:image/jpeg;base64,@(Convert.ToBase64String(sushi.Img))')">
                    <div class="blokPizza">
                        <b> Склад: </b><br />
                        @sushi.Description
                    </div>
                </div>
                <b>@sushi.Name</b>
                <p class="price">@sushi.Price грн</p>
                <button class="button-1" onclick="AddSushiToCast(@sushi.Id);">В корзину</button>
            </div>
        </div>
    }

    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <div class="imgPizza" style=" background: url('https://www.tereveni.com.ua/wp-content/uploads/2018/06/%D1%81%D0%B5%D1%82-%D1%8F%D0%BC%D0%B0%D1%82%D0%BE-960x640.jpg')">
                <div class="blokPizza">
                    <b> Склад: </b><br />
                    Макі краб, макі лосось, макі вугор, макі огірок, макі томаго
                </div>
            </div>
            <b>Ямато</b>
            <p class="price">269грн</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <div class="imgPizza" style=" background: url('https://www.tereveni.com.ua/wp-content/uploads/2018/06/%D1%81%D0%B5%D1%82-%D0%BE%D0%BA%D1%96%D0%BD%D0%B0%D0%B2%D0%B0-960x640.jpg')">
                <div class="blokPizza">
                    <b> Склад: </b><br />
                    Каліфорнія лосось в ікрі, каліфорнія краб в стружці, макі омлет, футомакі лосось печений, каліфорнія вега в зелені, нігірі омлет 2 шт, нігірі лосось 2 шт.
                </div>
            </div>
            <b>Окінава</b>
            <p class="price">269грн</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <div class="imgPizza" style=" background: url('https://www.tereveni.com.ua/wp-content/uploads/2018/08/ximg4-11-960x640.jpg.pagespeed.ic.W0xaOuQtAP.jpg')">
                <div class="blokPizza">
                    <b> Склад: </b><br />
                    Філадельфія лосось свіжий, філадельфія лосось копченений, філадельфія в кунжуті, філадельфія масаго.
                </div>
            </div>
            <b>Сет Філадельфія</b>
            <p class="price">269грн</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 LoadMore">
        <button type="button" class="btn btn-outline-secondary " id="look2">Дивитись більше</button>
    </div>

</div>

